@CHARSET "UTF-8";
*{
	padding:0;
	margin:0;
}
a{   text-decoration: none;}
header {
    display: table;
}
#content{
	margin:0 auto;
	display:table;
}

li {
    float: left;
    display: block;
}


li.test {
	float:none;
	 position:relative;
	  display: table;
}
ul.questions,ul.variants {
    position: relative;
    left: 20px;
}
li.test >label {
    display: table;
    float: none;
    width: 200px;
    height: 30px;
    border: 1px solid #a47e12;
   
}
li.test >label:hover,li.question >label:hover{
	background:#41adaf;
}

.test> label>span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.test> button {
	position: absolute;
	width: 20px;
    height: 20px;
	}
.test> button:nth-child(2){
	top: 5px;
    left: 130px;
}
.test >button:nth-child(3){
	top: 5px;
    left: 150px;
}

.test> button:nth-child(4){
	top: 5px;
    left: 170px;
}
li.question,li.variant {
   
    float: none;
}
li.question{
	display: table;
	position:relative;
}

.hidden {
    display: none;
}
.question label{
	display: table;
    width: 170px;
    border: 1px solid #41ae45;
    height: 20px;
}
.question button{
	position:absolute;
	top:0;
	right:5px;
	width:20px;
	height:20px;
}

.question> span {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}
header li {
    /* padding: 5px; */
    border: 1px solid #41ae17;
    width: 100px;
    text-align: center;
}

header li:hover {
    background: #14aeaa;
}

header {
    padding: 8px;
}

header a {
    /* text-align: center; */
    padding: 5px;
    display: block;
}
#tests li {
    float: none;
}